#search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.search-flex-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between the items */
    width: 100%;
    max-width: 900px; /* Limits the container width on large screens */
}

.filter-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 12px;
    font-size: 16px;
    flex: 1; /* Allows it to grow and shrink */
}

.search-input-container {
    position: relative;
    flex: 2; /* Gives more space to the search input */
}

.search-input-container input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 12px 40px 12px 12px; /* Extra padding for the icon */
    box-sizing: border-box;
    font-size: 16px;
}


.search-button {
    background-color: #252E41;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
}
.search-button:hover {
    background-color: #FF9800;

}
/* Responsive styles for mobile */
@media (max-width: 600px) {
    .search-flex-container {
        flex-direction: column;
        align-items: stretch;
    }

    .filter-input, .search-input-container, .search-button {
        width: 100%;
        margin-bottom: 10px;
    }

    .search-input-container {
        margin-bottom: 0;
    }
}